<select name="{{prop}}" data-dtype="String">
    {{#select value}}
    <option value="STR">Strength</option>
    <option value="DEX">Dexterity</option>
    <option value="CON">Constitution</option>
    <option value="INT">Intelligence</option>
    <option value="WIS">Wisdom</option>
    <option value="CHA">Charisma</option>
    <option value="">None</option>
    {{/select}}
</select>